@import "./extra";

.nav {
    display: flex;
    align-items: center;
    height: 4em;
    background-color: $green;

    a {
        text-decoration: none;
        padding: 2em;
        color: $crayola;
        font-size: large;
        font-weight: bold;
    }


}